.aboutus {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.aboutus__column {
  margin: 0px 10vh;
  display: flex;
  flex-direction: column;
}
.aboutus__column img {
  height: 60vh;
}
.aboutus__column span {
  display: flex;
  margin-top: 1vh;
  font-size: 20px;
}
