.history__year {
  line-height: 45px;
  font-size: 25px;
  font-weight: bold;

  margin-bottom: 30px;
}
.history__content {
  line-height: 32px;
  font-weight: 400;
  color: darkslategrey;
  font-size: 15px;
}
.history__column {
  margin-left: 15px;
  padding-left: 15px;
  width: 25%;
}

.history {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
