@keyframes texting {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home__img {
  width: 100%;
}

.main {
  position: fixed;
  top: 41.5vh;
  left: 40vh;
  height: 22vh;
  width: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
.main__text:first-child {
  display: block;
  width: 100%;
  text-align: center;
  opacity: 100%;
  animation: texting 1s;
}
.main__logo {
  height: 33px;
  margin: 0 13px;
  animation-name: texting;
  animation-duration: 1.3s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
.main__text:last-child {
  animation-name: texting;
  animation-duration: 1.3s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}
.main__text {
  font-size: 32px;
  margin: 9px 0;
  color: rgb(59, 59, 59);
  font-family: "BMHANNAPro";
}
.main__line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
