.portfolio__column {
  text-align: center;
  width: 16%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: darkslategrey;
  font-weight: 600;
  font-size: 17px;
}
.portfolio__task img {
  height: 25vh;
  display: block;
  margin: 2vh 0vh;
  margin-bottom: 10vh;
  border-radius: 5%;
  transition: 0.3s;
}

.portfolio__task img:hover {
  height: 25.5vh;
}
