@import "reset.css";
/*components*/
@import "components/head-logo.css";
@import "components/nav-bar.css";
@import "components/bottom-bar.css";
@import "components/home-img.css";
@import "index.css";
@import "aboutus.css";
@import "history.css";
@import "portfolio.css";
@import "components/portpage.css";
/*screen*/

body {
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, "맑은 고딕", "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.page-sheet {
  display: flex;
  width: 100%;
  margin: 0;
  margin-top: 19vh;
  justify-content: space-evenly;
  background-color: white;
}
