@import "reset.css";
/*components*/
@import "components/head-logo.css";
@import "components/nav-bar.css";
@import "components/bottom-bar.css";
@import "components/home-img.css";
@import "index.css";
@import "aboutus.css";
@import "history.css";
@import "portfolio.css";
@import "components/portpage.css";
/*screen*/
@font-face {
  font-family: "KOTRALEAP";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRALEAP.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "KOTRALEAP", "맑은 고딕",
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.page-sheet {
  display: flex;
  width: 100%;
  margin: 0;
  margin-top: 19vh;
  justify-content: space-evenly;
  background-color: white;
}
