@import "reset.css";
/*components*/
@import "components/head-logo.css";
@import "components/nav-bar.css";
@import "components/bottom-bar.css";
@import "components/home-img.css";
@import "index.css";
@import "aboutus.css";
@import "history.css";
@import "portfolio.css";
@import "components/portpage.css";
/*screen*/

/*한나체*/
@font-face {
  font-family: "BMHANNAPro";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/*레코체*/
@font-face {
  font-family: "Recipekorea";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TmoneyRoundWindExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "맑은 고딕", "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.page-sheet {
  display: flex;
  width: 100%;
  margin: 0;
  margin-top: 19vh;
  justify-content: space-evenly;
  background-color: white;
}
