.header {
  display: flex;
  background-color: #f4f4f4;
  width: 100%;
  height: 10vh;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0px;
}

.main-logo img {
  height: 5vh;
  transition: 0.2s;
}
.main-logo img:hover {
  height: 5.2vh;
}
