.portpage {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.portpage__column:first-child {
  margin-top: 3vh;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: darkslategrey;
}
.portpage__list {
  font-size: 16px;
  transition: 0.3s;
  line-height: 50px;
}
.portpage__list:hover {
  font-size: 17px;
  color: rgb(55, 55, 126);
}
.portpage__column:last-child img {
  display: block;
  height: 36vh;
  margin: 6vh 0;
}
.portpage__column:last-child {
  margin-top: 3vh;
  margin-right: 40vh;
  text-align: center;
  color: darkslategrey;
  font-weight: 600;
  font-size: 30px;
}
